.tags {
  display: flex;
  gap: 10px;
}
.tag {
  background-color: rgba(0, 0, 0, 0.742);
  color: white;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 2px;
  text-transform: uppercase;
}
.postBlock {
  padding: 20px 20px 10px;
  background-color: #e9e9e9;
  margin-bottom: 20px;
  border-radius: 10px;
}
